#about {
  background-color: darkgrey;
  height: 100vh;
}

.about-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 22px;
  margin: 2em 0 2em 0; /* 2em top and bot **/
}
.about-t1 {
  font-weight: 400;
}

.about-t1::after {
  content: " ";
  white-space: pre;
}

.about-t2 {
  font-weight: 900;
}
