#about {
  background-color: #1a1a1a;
  height: 100vh;
}

.about-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 22px;
  margin-top: 4em;
}

.photo-box {
  margin-right: 80px;
  width: 500px;
  height: 333px;
  background-image: url("./face1.jpg");
  background-size: cover;
  background-position: center;
}

.desc-box {
  width: 400px;
}

.about-title {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 22px;
  margin-top: 0.5em;
}

.about-title-t1 {
  font-weight: 400;
  white-space: pre;
  margin-top: 0;
}

.about-title-t1::after {
  white-space: pre;
}

.about-title-t2 {
  font-weight: 900;
  margin-top: 0;
}

.about-desc {
  color: #b3b3b3aa;
}

.about-descp1 {
  font-size: 18px;
  letter-spacing: 1px;
}

.about-descp2 {
  font-size: 16px;
}

.about-buttonbox {
  display: flex;
  flex-direction: col;
}

.about-cv-button,
.about-contact-button {
  padding: 15px 25px;
  margin: 20px 0 15px 0;
  box-sizing: border-box;
  border-radius: 15px;
  border-color: transparent;
  // background-color: #333333;
  font-size: 11px;

  color: white;
  letter-spacing: 3px;
}

.about-cv-button:hover,
.about-contact-button:hover {
  cursor: pointer;
}

.about-contact-button {
  background-color: #ff9933aa;
}

.about-cv-button {
  text-decoration: none;
  margin-left: 2em;
  background-color: #b3b3b3aa;
}

.testimonial-box {
  border-style: solid 2px white;
  margin-top: 100px;
  color: white;
}

.testimonial-title {
  display: flex;
  justify-content: center;
  color: white;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 100;
}

.testi-content {
  display: flex;
  flex-direction: col;
  justify-content: center;
  margin-top: 3em;
}

.testi-left {
  margin-right: 50px;
}

.testi-box {
  display: flex;
  flex-direction: col;
}

.profile-circle {
  height: 70px;
  width: 70px;
  background-color: #333333;
  border-radius: 50%;
}

.chat-bubble {
  // position: relative;
  background-color: #333333;
  width: 440px;
  height: 180px;
  margin-left: 30px;
  // padding: 20px;
  border-radius: 15px;
}

.chat-bubble:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 18px solid transparent;
  border-right: 18px solid #333333;
  margin-top: -150px;
  margin-left: -18px;

}

.testi-texts-box {
  margin: 20px;
  width: 400px;
  height: 140px;
}

.testi-text {
  color: #b3b3b3aa;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.6;
}

.testi-text-entity {
  font-style: italic;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.6;
  color: #b3b3b3aa;
}

.testi-text-entity.juli:after {
  content: " Toodle Ltd.";
  color: #ff9933;
  font-style: italic;
}

.testi-text-entity.nicci:after {
  content: " XXX xx.";
  color: #ff9933;
  font-style: italic;
}