#about {
  background-color: #1a1a1a;
  height: 100vh;
}

.aboutBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 22px;
  margin-top: 4em;
}

.photoBox {
  margin-right: 80px;
  width: 500px;
  height: 333px;
  background-image: url("./fit1.jpg");
  background-size: cover;
  background-position: center;
}

.descBox {
  width: 400px;
}

.aboutTitle {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 22px;
  margin-top: -0.4em;
}

.aboutTitleT1 {
  font-weight: 400;
  white-space: pre;
  margin-top: 0;
}

.aboutTitleT1::after {
  white-space: pre;
}

.aboutTitleT2 {
  font-weight: 900;
  margin-top: 0;
}

.aboutDesc {
  color: #b3b3b3aa;
}

.aboutDescp {
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0px;
  font-weight: 350;
}

.aboutButtonbox {
  display: flex;
  flex-direction: col;
}

.aboutCvButton,
.aboutContactButton {
  padding: 15px 25px;
  margin: 20px 0 15px 0;
  box-sizing: border-box;
  border-radius: 15px;
  border-color: transparent;
  /* // background-color: #333333; */
  font-size: 11px;

  color: white;
  letter-spacing: 3px;
}

.aboutCvButton:hover,
.aboutContactButton:hover {
  cursor: pointer;
}

.aboutContactButton {
  background-color: #ff9933aa;
}

.aboutCvButton {
  text-decoration: none;
  margin-left: 2em;
  background-color: #b3b3b3aa;
}

.testimonialBox {
  border-style: solid 2px white;
  margin-top: 100px;
  color: white;
}

.testimonialTitle {
  display: flex;
  justify-content: center;
  color: white;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 100;
}

.testiContent {
  display: flex;
  flex-direction: col;
  justify-content: center;
  margin-top: 3em;
}

.testiLeft {
  margin-right: 50px;
}

.testiBox {
  display: flex;
  flex-direction: col;
  text-align: justify;
}

.profileCircle {
  height: 70px;
  width: 70px;
  background-color: #333333;
  border-radius: 50%;
}

.profileCircle.juli {
  background-image: url("./juliana.jpg");
  background-size: cover;
  background-position: center;
}

.profileCircle.nicci {
  background-color: #1a1a1a;
}

.chatBubble {
  /* // position: relative; */
  background-color: #333333;
  width: 440px;
  height: 180px;
  margin-left: 30px;
  /* // padding: 20px; */
  border-radius: 15px;
}

.chatBubble.nicci {
  background-color: #1a1a1a;
}

.chatBubble:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 18px solid transparent;
  border-right: 18px solid #333333;
  margin-top: -150px;
  margin-left: -18px;
}

.chatBubble.nicci:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 18px solid transparent;
  border-right: 18px solid #1a1a1a;
  margin-top: -150px;
  margin-left: -18px;
}

.testiTextsBox {
  margin: 20px;
  width: 400px;
  height: 140px;
}

.testiText {
  color: #b3b3b3aa;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.6;
}

.testiTextEntity {
  font-style: italic;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.6;
  color: #b3b3b3aa;
}

.testiTextEntity.juli:after {
  content: " Toodle Ltd.";
  color: #ff9933aa;
  font-style: italic;
}

.testiTextEntity.nicci:after {
  content: " XXX xx.";
  color: #ff9933aa;
  font-style: italic;
}
