#main {
  color: white;
  margin-bottom: 100px;
  
  height: 90%;
}

#main h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 4em;
  margin-bottom: 0;
  border: 0;
  padding: 0;
  
}

#main h2 {
  letter-spacing: 2px;
  font-size: 100px;
  font-weight: 800;
  margin: 0;
  border: 0;
  padding: 0;
}

#main h3 {
  font-size: 20px;
  font-weight: 400;
  border: 0;
  padding: 0;
  margin: 0;
  /* padding-bottom: 500px; */
}
