#main {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background-image: url("./face.JPG");
  background-size: cover;
  background-position: center;
}

/* #main div {
  border: 1px black solid;
} */

.titlebox {
  margin-top: 35vh;
}

.p1 {
  font-size: 4vw;
  font-weight: 300;
  bottom: 0;
  /* margin-top: 20vh; */
  margin-bottom: 0;
  /* margin: 0 0 0 0; */
  vertical-align: text-bottom;

  /* float: bottom; */
  /* justify-content: baseline; */
  /* border: 0;
  padding: 0; */
}

.p2 {
  /* letter-spacing: 0px; */
  font-size: 7vw;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;

  /* height: 35px; */
  /* margin: 0;
  border: 0;
  padding: 0; */
}

.p3 {
  font-size: 1.6vw;
  font-weight: 400;
  margin: 0.5em;
  color: #bfbfbf;
  letter-spacing: 1px;
  /* line-height: 34px;
  height: 35px; */
  /* margin: 0 0 300px 0; */
  /* margin: 0 0 40% 0; */
  /* border: 0;
  padding: 0;
  ; */
  /* padding-bottom: 500px; */
}
