#main {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background-image: url("./faceb&w.jpg");
  background-size: cover;
  background-position: center;
  offset-position: top;
  /* margin-top: -100px; */
}

.titlebox {
  margin-top: 35vh;
  color: white;
}

.p1 {
  font-size: 55px;
  font-weight: 300;
  bottom: 0;
  margin-bottom: 0;
  vertical-align: text-bottom;
}

.p2 {
  font-size: 110px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -15px;
}

.p3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0.5em;
  color: #bfbfbf;
  letter-spacing: 1px;
}
