#contact {
  background-color: #1a1a1a;
  height: calc(100vh - 80px);
}

.contact-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 22px;
  margin: 2em 0 2em 0; /* 2em top and bot **/
}
.contact-t1 {
  font-weight: 400;
  white-space: pre;
}

.contact-t2 {
  font-weight: 900;
}

.contacttext {
  letter-spacing: 1px;
  color: white;
  font-size: 30px;
  font-weight: 100;
}

.touch {
  margin-right: 80px;
}

.touch-box {
  width: 550px;
  max-width: 550px;
  height: 250px;
  margin: 50px 0 30px 0;
  border-radius: 15px;
  // background-color: #333333;
}

.details-box {
  width: 300px;
  max-width: 300px;
  margin: 50px 0 30px 0;
}

.details-title {
  color: #ff9933aa;
  font-size: 13px;
}

.details-content {
  color: #b3b3b3aa;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 1.8;
}

.details-social {
  color: white;
  font-size: 30px;
}

a.social {
  color: #ff9933aa;
  margin-right: 20px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border-color: transparent;
  background-color: #333333;
  font-size: 15px;
  color: white;
}

textarea {
  width: 100%;
  max-width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border-color: transparent;
  background-color: #333333;
  font-size: 15px;
  color: white;
}

::placeholder {
  color: #b3b3b3aa;
  font-family: Arial, Helvetica, sans-serif;
}

.touch-box-form {
  color: white;
  letter-spacing: 1px;
}

.touch-box-form:focus {
  outline: 0;
}

input[type="submit"] {
  padding: 15px 25px;
  margin: 20px 0 15px 0;
  box-sizing: border-box;
  border-radius: 15px;
  border-color: transparent;
  // background-color: #333333;
  font-size: 11px;
  background-color: #ff9933aa;
  color: white;
  letter-spacing: 3px;
}

input[type="submit"]:hover{
  cursor: pointer;
}

.modal.submit-modal {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: #333333;
  padding: 20px;
  border: transparent;
  color: white;
}

.modal.submit-modal:focus {
  outline: 0;
}

.modal.submit-close {
  margin: auto;
}
