.nav {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  top: 0;
  letter-spacing: 4px;
  font-size: 17px;
  font-weight: 400;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: white;
  background: transparent;
  overflow: hidden;
}
.nav.active {
  background-color: #1a1a1a;
}

.link-active {
  color: #ff9933;
}

.link {
  cursor: pointer;
  /* margin-top: 1em; */
}

.link:hover {
  color: #ff9933;
  transition: 0.5s;
}

.link.home::after,
.link-active.home::after {
  content: "  ";
  white-space: pre;
}
.link.about::after,
.link-active.about::after {
  content: "  ";
  white-space: pre;
}
.link.resume::after,
.link-active.resume::after {
  content: "  ";
  white-space: pre;
}
