.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.image {
  /* background-image: url("./images/face.jpg"); */
  background-color: grey;
  top: 0;
  min-width: 100%;
  flex:1;
  background-size: cover;
  background-position: center;
}

body {
  background-color: lightgrey;
}