@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.App {
  display: flex;
  flex-direction: column;
  --textgrey: #b3b3b3;
}

@media screen and (max-width: 1050px) {
  .mobile {
    height: 100vh;
    width: 100vw;
    background-image: url("./mobile.png");
    background-size: cover;
    background-position: center;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Kaushan Script", cursive;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  margin: 50px 0;
  white-space: pre;
}

.secondaryTitle {
  font-family: "Kaushan Script", cursive;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 100;
  color: white;
}

.invis {
  opacity: 0;
}

// Portfolio

.portfolioPic {
  width: 300px;
  height: 300px;
  background-color: white;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--textgrey);
}

.portfolioPic:hover {
  opacity: 0.7;
  cursor: pointer;
}

.portfolioPic.watchlist {
  background-image: url("./pages/Portfolio/watchlist.png");
}

.portfolioPic.todolist {
  background-image: url("./pages/Portfolio/todolist.png");
}

// About

.profileCircle {
  height: 75px;
  width: 75px;
  background-color: #333333;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  border-radius: 50%;
}

.profileCircle.juli {
  background-image: url("./pages/About/juliana.jpg");
}

ul {
  margin-top: 0;
}

// NavBar
.nav {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  top: 0;
  letter-spacing: 4px;
  font-size: 15px;
  font-weight: 450;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: white;
  background: transparent;
  overflow: hidden;
  transition: 1s;
  z-index: 99;
}

.nav.active {
  background-color: #1a1a1a;
  transition: 1s;
}

.link.active {
  color: #ff9933;
}

.link,
.link.active {
  cursor: pointer;
  /* margin-top: 1em; */
}

.link:hover {
  color: #ff9933;
  transition: 0.5s;
}

.link {
  margin: 0 10px;
}
